<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'topics/css/style_common.css' %}">
</head>

<body>
<div class="topContainer">
    <div class="homeButtonContainer">
        <form action="{% url 'index' %}" method="get">
            {% csrf_token %}
            <button class="homeButton homeButtonText">Home</button>
        </form>
    </div>
</div>
{% if topic_list %}
<h1>Topics</h1>
<ul>
    <ol>
        {% for t in topic_list %}

        <li><a href="/topics/{{ t.id }}/">{{ t.topic_text }}</a>
            <form method="post" action="{% url 'delete_topic' t.id%}">
                {% csrf_token %}
                <span>
                <input type="submit" value="Delete" name="to_delete">
            </span>
            </form>
        </li>
        {% if t.is_acronym %}
        <span>{{ t.acronym.acronym_expanded }}</span>ß
        {% endif %}
        {% endfor %}
    </ol>
</ul>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <p>Topic: </p>
    <input name="added_topic" type="text" required>
    <p>Acronym: </p>
    <input name="acronym" type="text">
    <button type="submit">Add Topic</button>
</form>

<h1>One-Liners</h1>
<ul>
    <ol>
        {% for o in oneliner_list %}

        <li><a href="/topics/{{ o.topic.id }}/oneliner">{{ o.text }}</a></li>

        {% endfor %}
    </ol>
</ul>
{% else %}
<p>No topics are available!</p>
{% endif %}

<div ng-app="">
    <p>Angular!</p>
    <p>Name: <input type="text" ng-model="name"></p>
    <p>{{8}}</p>

</div>

</body>
</html>


