{% if topic_list %}
<h1>Topics</h1>
<ul>
    <ol>
        {% for t in topic_list %}

        <li><a href="/topics/{{ t.id }}/">{{ t.topic_text }}</a>
        <form method="post" action="{% url 'delete_topic' t.id%}">
            {% csrf_token %}
            <input type="submit" value="Delete" name="to_delete">
        </form>
        </li>
        {% if t.is_acronym %}
            {{ t.acronym.acronym_expanded }}
        {% endif %}
        {% endfor %}
    </ol>
</ul>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <p>Topic: </p>
    <input name="added_topic" type="text" required>
    <p>Acronym: </p>
    <input name="acronym" type="text">
    <button type="submit">Add Topic</button>
</form>

<h1>One-Liners</h1>
<ul>
    <ol>
        {% for o in oneliner_list %}

        <li><a href="/topics/{{ o.topic.id }}/oneliner">{{ o.text }}</a></li>

        {% endfor %}
    </ol>
</ul>
{% else %}
<p>No topics are available!</p>
{% endif %}

