.topicContainer {
    width: 50%;
    height: 100px;
    padding: 20px 20px 5px 20px;
    box-sizing:borderbox;
}

.topicBlob{
    background: #416F25;
    border: 5px solid rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 20px;
}


.topicText{
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 90px;
    text-align: left;
    padding-left: 20px;
    color: #000000;
}

.topicAcronym{
    margin-left:40px;
}

.timeline{
    border-left: 5px solid rgba(21, 69, 23, 0.78);
    margin-left: 50px;
    padding:5px 50px 5px 5px;
    list-style: none;
}

body{
    background-color: #f7f7f2;
}

li {
    margin: 10px 10px 10px 5px;
    border: 2px solid rgba(200,200,200,1.0);
    border-radius:5px;
    padding: 0px 5px;
    background: #E5E9E6
}

.dot{
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #718394;
    border-radius: 20px;
}





